html {
    scroll-behavior: smooth;
}
body{
	margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;

    /* color: #e8eaed; */
    /* background-color: #66FCF1; */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_{
    background-color: #C5C6C7;
    background-color: #66FCF1;

    color: #1F2883;
}
.header_.a{
    color: #000000;
}

.brand:link{
    font-size: x-large !important;
    transform: scale(1.0,1.0); 
    overflow: hidden;
    /* transition: transform 0.5s ease; */
}
.brand:hover {
    transform: scale(1.05,1.05);
    overflow: hidden;

    transition: transform 0.5s ease;
}