html {
    scroll-behavior: smooth;
}
body{
	margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;

    /* color: #e8eaed; */
    /* background-color: #66FCF1; */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_{
    background-color: #C5C6C7;
    background-color: #66FCF1;

    color: #1F2883;
}
.header_.a{
    color: #000000;
}

.brand:link{
    font-size: x-large !important;
    transform: scale(1.0,1.0); 
    overflow: hidden;
    /* transition: transform 0.5s ease; */
}
.brand:hover {
    transform: scale(1.05,1.05);
    overflow: hidden;

    transition: transform 0.5s ease;
}

.gato{
    z-index: 2;

    animation: slideDown 0.6s ease-in-out;
}

@keyframes slideDown{
    from{ transform: translateY(-500px);}
    to{ transform: translateY(0px);}
}
/* .speech-bubble {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .speech-bubble::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }

  .speech-bubble::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
  } */